.center{
    text-align: center;
    background-color:#51627d;
    color:white;
    font-size: xx-large;
}
/* .description{
    height:10%;
    width:90%;
    margin:auto;
    background-color: bisque;
} */
.participants{
    background-color:#a16789;
    width:80%;
    border-radius:2px;
    margin:auto;
}
/* .count {
    background-color:#ebd1d2;
    margin: 2px;  
} */

.expenses {
    margin:auto
}

.modal-dialog {
    width: 100em;
    min-height: 100%;
    padding: 0;
    margin: auto;
}

.check{
    margin-left: 22%;
}
.selection{
    margin-left: 17%;
}
.submission{
    margin-left:35%;
    display:block;
    padding-top:15%;
    

}
.button{
    margin:10px;
}

button:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
  }

.load{
    
    margin-left:auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 3%;
    display:block;
}

@media screen and (min-width: 768px) {
    .modal-dialog {
      width: 700px; /* New width for default modal */
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .modal-dialog {
        width: 350px; /* New width for default modal */
      }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .modal-dialog {
        width:950 px; /* New width for default modal */
      }
}

