<div class=" back">
  <br>
  <br><br>
  <br>
<div class="container bg-light set">
  <div class="row">
    <div class=" d-none d-sm-block col-sm-6 col-md-6 col-lg-6 col-xl-6 " >
      <img src="assets/forgot.jpg">
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 ">
      <br><br>
        <div class="row">
          <div class="col-10">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" >
                      <i class="fa fa-key icon"></i>
                    </span>
                </div>
                <input type="text"  [(ngModel)]="rpassword" class="form-control" placeholder="enter recovery password" required autofocus>
              </div>
              </div>
              <div class="col-10">
              <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" >
                        <i class="fa fa-key icon"></i>
                      </span>
                  </div>
                  <input type="password"  [(ngModel)]="npassword" class=" form-control" placeholder="enter new password " required>
                </div>
                </div>
                <div class="col-10">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" >
                              <i class="fa fa-key icon"></i>
                            </span>
                        </div>
                        <input type="password"  [(ngModel)]="cpassword" class=" form-control" placeholder="re-enter password " required>
                      </div>
                      </div>
            </div>
            <br>
            <div class="col-xl-12 text-center">
                <button type="button" (click)="ResetPassword()" class=" btn btn-success">Submit</button>
              </div>
           <br>
          
    </div>
  </div>
   
       </div>
</div>



 

      